<!-- ko with: home -->
@*<div class="jumbotron">
        <h1>Toka Pixka</h1>
        <p class="lead"></p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@

<style>
    .center-block {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<br />
<div class="container">
    <div class="row">
        <div class="span4"></div>
        <div class="span4"><img class="center-block" src="~/img/oficial.png" /></div>
        <div class="span4"></div>
    </div>
</div>

<div class="container">
    <p align="center" class="lead">Toka Pixka, ó Siembra Cosecha en Nahuatl, sera tu guía definitiva para tu propio huerto en casa, manteniendote al tanto del estatus de tu cultivo y mostrandote que tan felices estan tus plantas.</p>
</div>



<div class="row-fluid">
    <div class="col-md-6">
        <a href="#">
            <img src="~/img/icon_seeds125.png" alt="..." class="center-block">
        </a>
        <h2 align="center">¡Quiero sembrar!</h2>
        <p align="center">Empieza descubriendo las opciones que tienes para sembrar, nosotros te ayudamos.</p>
        @*<p data-bind="text: myHometown"></p>*@
        
        <p align="center"><a type="button" class="btn btn-success" href="/MiSiembra"><span class="glyphicon glyphicon-leaf"></span> Toka!</a></palign="center">

            

    </div>

    <div class="col-md-6">
        <a href="#">
            <img src="~/img/cosecha125.png" alt="..." class="center-block">
        </a>
        <h2 align="center">Ver mi cosecha</h2>
        <p align="center">
            Dale seguimiento a tus cultivos, no debes descuidarlos, de lo contrario estaran tristes :(
        </p>
        <p align="center"><a type="button" class="btn btn-success" href="/MiCosecha"><span class="glyphicon glyphicon-grain"></span> Pixka!</a></p>
    </div>

    @*<div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
</div>

<!-- /ko -->
